.side {
  height: calc(100vh - var(--paddingBase) * 2);
  min-width: 380px;
  overflow-y: scroll;
}

.layout {
  padding: var(--paddingBase);
}

.content {
  display: flex;
  justify-content: center;
}
